:root {
    --item-v-padding: 0.2em;
    --item-h-padding: 0.5em;
    --item-size: 2em;
    --hover-bg-color: chocolate;
    --min-res-col-width: 8em;
    --toolbar-bg-color: #b2b2b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#window-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.toolbar {
    background-color: var(--toolbar-bg-color);
}

.flex-row.toolbar {
    padding: 0 2em;
}

.flex-col.toolbar {
    padding: 2em 0;
}

.toolbar a {
    text-decoration: none;
}

.flex-row.toolbar a {
    padding: var(--item-v-padding) var(--item-h-padding);
}

.flex-col.toolbar a {
    padding: var(--item-h-padding);
}

.toolbar a>img {
    display: block;
    height: var(--item-size);
    border: none;
}

.toolbar a:hover {
    background-color: var(--hover-bg-color);
}

.toolbar a:active {
    background-color: var(--active-bg-color, green);
}

.toolbar a.disabled {
    opacity: 0.5;
}

#tool-panel {
    flex: 0 1 auto;
    background-color: var(--toolbar-bg-color);
}

#content-row {
    flex: 1 1 auto;
}

#side-panel {
    flex: 0 1 auto;
    background-color: var(--toolbar-bg-color);
}

#res-column {
    flex: 1 1 auto;
    background-color: #3f3f3f;
    min-width: var(--min-res-col-width);
}

#main-column {
    flex: 3 1 auto;
}

#main-view {
    flex: 2 1 auto;
    background-color: seagreen;
}

#console {
    flex: 1 2 auto;
    background-color: dodgerblue;
}

#title-panel {
    flex: 0 1 auto;
    background-color: #3c3c3c;
}

#view-tabs {
    float: left;
}

.title-tab {
    float: left;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 10em;
    padding: 0.5em;
    border-right: 1px solid #1f1f1f;
}

.title-tab>img {
    flex: 0 1 auto;
    display: block;
    height: 1em;
    border: none;
}

.title-tab>h3 {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    font-style: italic;
    color: #c5c5c5;
}