# Binding files
# binding.gyp

# node dependencies
node_modules
package-lock.json

# eslint config
.eslintrc.js
tmp
.DS_Store
.vscode
!.vscode/launch.json
*.log
*.node

# build immediate file
node_addons/build

# scripts just for test, excercise, validation etc.
test*.js
